.header .inner-wrap{
	background: #fff!important;
}

.app_menu_stick li a{
	color: #000;
}


.menu li:hover>a:not(.menu-title), .menu .active>a:not(.menu-title){
	color: #000;
}

.menu>.submenu>a{
	color: #909292;
}

.menu>li>a{
	color: #909292;
}

.header-left, .header-right, .header-center{
	display: block;
	margin: 0 auto;
}

.menu>li{
	margin-right: 12.3rem;
}

body{
	background: #F2F3F5;
}

.product-media{
	border: 1px solid #E5E5E5;
}

.text-xl{
	font-size: 16px;
}

.whatsapp{
	width: 65px;
    height: 65px;
    position: fixed;
    bottom: 50px;
    right: 14px;
    z-index: 1000;
}

.contenedor-whapp{
	border-radius: 50%;
    background: #4DC247;
    height: 65px;
    box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;
}

.contenedor-whapp i{
	color: white;
    font-size: 45px;
    padding: 1rem 13px;
}

.list_menu li{
	text-transform: uppercase;
}

.header-middle .logo{
	margin-right: 0;
}

.app_obj{
	width: 25%;

}

.app_flex{
	display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.testimonial-centered .testimonial-author-thumbnail{
	width: 11rem;
	height: 11rem;
}

.title{
	color: #939595!important;
}

.page-title{
	color: #939595!important;
}

.app_figure_unidad{
	width: 13rem!important;
	height: 13rem!important;
}

.logo_manofactura{
	width: 200px!important;
}



.unidad_content div{
	width: 40%;
	
}

.cliente_uni {
	width: 150px;
	height: 80px;
}

.bg_gray{
	background: #F2F3F5;
}

.h250{
	height: 250px!important;
}

.testimonial-centered .testimonial-title{
	color: #939595!important;
}

.text-justify{
	text-align: justify;
}

.font_normal{
	font-weight: normal!important;
}

.footer-middle label{
	color: #999;
	font-weight: normal;
}

.footer-middle .widget-title{
	color: #999;
	font-weight: normal;
	margin-bottom: 0;
}

.mb0{
	margin-bottom: 0!important;
}

.pd0{
	padding: 0!important;
}

.footer_flex{
	display: flex;
}

.footer_flex img{
	width: 50px;
	margin-right: 10px;
}


.social-links a img{
	width: 30px;
	margin-right: 5px;
}

.app_banner{
	height: 400px;
}

.app_margen_mision{
	margin-right: 26rem;
}

.mt-5_{
	margin-top: 51px;
}
.filter-items a{
	padding: 0 0 0 28px;
}

.filter-items ul{
	position: relative;
    margin: 1rem 0 -.5rem;
    padding-left: 1.3rem;
}

.filter-items.search-ul li{
	padding: 1rem 3px;
}

#product-tab-additional label{
	min-width: 26rem!important;
}

.lista_justificada li{
	text-align: justify;
}

.mobile-menu-toggle__{
	font-size: 30px;
}


.img_cliente{
  width: 202px;
  margin: auto;
  height: 117px;
  /*border: 1px solid #cacaca;*/
  padding: 10px;
}


.btn-quickview:hover{
	background: #909292;
}


/************************************/

.contenedor{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 4rem 1rem 1rem 1rem;
	background: rgba(0, 0, 0, .8);
	z-index: 100000;
	display: none;
}

.btn_close{
	position: absolute;
    right: 15px;
    font-size: 32px;
    color: #fff;
    top: 9px;
}

.app_form_movil{
	background: #cacaca;
	padding: 1rem;
	border-radius: 12px;
}

.list_pos{
	position: relative;
	display: block;
}

.list_pos i{
	position: absolute;
	top: 8px;
	right: 5px;
}

.item_movil{
	padding: 0 5px;
	display: block;
	transition: 1s;
}

.item_movil:hover{
	background: #fff;

}

.mobile-menu-toggle__{
	display: none;
}



.titulo_buscador{
	margin-bottom: 0;
}

.input_movil{
	width: 100%;
	margin: 5px 0;
	padding: 10px;
}

.btn_movil{
	width: 100%;
	margin-top: 5px;
}

.nav_movil{
	list-style: none;
	padding-left: 0;
}

.nav_movil li{
	color: #fff;
	font-size: 25px;
}

.max_heigh_menu{
	max-height: 0;
	overflow: hidden;
}


.item_show_movil{
	max-height: max-content;
	transition: .5s;
	padding-left: 10px;
	background: rgba(255, 255, 255, .1);
}

.categoria_item{
	position: relative;
}

.categoria_item > i{
	position: absolute;
	top: 8px;
	right: 5px;
}

.app_active_movil{
	background: #fff;
	color: #000!important;
}


.product-media a img{
	width: 100%;
	height: 228px;
}



.app_banner_principal{
	height: 450px;
	overflow: hidden;
}


/*************************************/

.pagination{
	margin: 11px 0;
}


@media (max-width: 600px) {
  .app_margen_mision{
  	margin-right: 26px;
  }

  .mobile-menu-toggle__{
  	display: block;
  }

  .app_obj{
  	width: 50%;
  }

  .footer-middle{
  	text-align: center;
  }

  .footer_flex{
  	display: block;
  }
}